.book-page {
  width: 100%;
  margin: 0;
}

.book-page__head {
  height: 24px;
  width: 100%;
}

.book-page__line {
  width: 100%;
  margin: auto 0;
  margin-top: 32px;
  display: flex;
}

.book-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.book-button {
  color: #525252;
  font-size: 12px;
}

.book-button_menu {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  height: 38px;
  margin: 8px;
  background-color: #f3f3f3;
  line-height: 38px;
  border: 1px solid #e7e7e7;
  display: table-cell;
  text-decoration: none;

}

.book-button_menu_active {
  color: #fefefe;
  background-color: #29c5e6;
  border: 1px solid #29c5e6;
}


.books-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 16px;
  width: 460px;
}

.books-main__item {
  padding: 10px 5px;
  box-sizing: border-box;
  background-color: darkorange;
  width: calc(100% - 32px);
  margin: 16px;
}

.books-main__header {

}

.book-main_button {
  display: inline-flex;
  width: calc(50% - 16px);
  height: 32px;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  margin: 8px;
}
