<div class="container">
  <h2>Library</h2>
  <div class="row">
    <button (click)="getAll()">Все книги</button>
    <button (click)="onlyArchive()">В архиве</button>
    <button (click)="onlyRead()">Прочтено</button>
    <button (click)="onlyUnRead()"> Не прочитано</button>
    <button (click)="onlyFavorite()"> В изранное</button>
  </div>


  <div class="row">
    <ng-container *ngIf="BooksView$|async as books">
      <div class="item" *ngFor="let book of books">
        <h2> Название книги: {{book.title}}</h2>
        <p>Прочитано : {{book.read}}</p>
        <p> Статус книги: {{book.status}}</p>
        <div class="status">
          <button (click)="markAsArchive(book)">
            В архив
          </button>
          <button (click)="markAsRead(book)">
            Прочтено
          </button>
          <button (click)="markAsUnread(book)">
            Не прочитано
          </button>

          <button (click)="markAsFavorite(book)">
            В изранное
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
